<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload</title>
</head>
<body>
    <h1>Upload form</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data" >
    <span>Select the file and upload</span>
    <input type="file" name="mypic" required>
    <input type="submit" value="Submit">
    </form>
</body>
</html>